<h2>Loan Applications</h2>
<table>
    <tr>
        <th>ID</th>
        <th>Gender</th>
        <th>Married</th>
        <th>Dependents</th>
        <th>Education</th>
        <th>Self Employed</th>
        <th>Applicant Income</th>
        <th>Coapplicant Income</th>
        <th>Loan Amount</th>
        <th>Loan Amount Term</th>
        <th>Credit History</th>
        <th>Property Area</th>
        <th>Loan Status</th>
    </tr>
    {% for application in applications %}
    <tr>
        <td>{{ application.id }}</td>
        <td>{{ application.Gender }}</td>
        <td>{{ application.Married }}</td>
        <td>{{ application.Dependents }}</td>
        <td>{{ application.Education }}</td>
        <td>{{ application.Self_Employed }}</td>
        <td>{{ application.ApplicantIncome }}</td>
        <td>{{ application.CoapplicantIncome }}</td>
        <td>{{ application.LoanAmount }}</td>
        <td>{{ application.Loan_Amount_Term }}</td>
        <td>{{ application.Credit_History }}</td>
        <td>{{ application.Property_Area }}</td>
        <td>{{ application.Loan_Status }}</td>
    </tr>
    {% endfor %}
</table>